<div class="profile-container">
    <div class="profile-image-box">
        <img src="assets/images/profile-image.jpeg">
    </div>
    <div class="profile-detail-box">
       <span class="profile-heading">Rajat Bhandari</span>
        <div class="profile-detail-table">
            <table style="width:100%">
                <tr>
                  <th>Student ID</th>
                  <td>56929393</td>
                  <th>Campus</th>
                  <td>Delhi</td>
                </tr>
                <tr>
                  <th>Batch</th>
                  <td>2020</td>
                  <th>Spacialization</th>
                  <td>Frontend</td>
                </tr>
                <tr>
                  <th>Ongouing Applications</th>
                  <td>10</td>
                  <th>Opportunities for you</th>
                  <td>20</td>
                </tr>
              </table>
        </div> 
    </div>
</div>